{% extends 'admin/base.html' %}

{% block content %}
    {% if msg %}
        <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ msg }}</p>
        </div>
    {% endif %}

    <ul uk-tab>
        <li class="uk-active">
            <a href="{{ url_for('admin.list_posts') }}">List({{ total }})</a>
        </li>
        <li><a href="{{ url_for('admin.new_post') }}">Create</a></li>
    </ul>

    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th class="uk-table-expand">Title</th>
            <th>Tag</th>
            <th>Author</th>
            <th>Created_at</th>
            <th>Published</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    <a href="{{ url_for('admin.edit_post', post_id=post.id) }}">
                        <span uk-icon="file-edit"></span>
                    </a>
                    <a data-id="{{ post.id }}">
                        <span uk-icon="trash"></span>
                    </a>
                </td>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>
                    {% for tag in post.tags %}
                        <a href="{{ tag.url() }}">{{ tag.name }}</a>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ post.author.url() }}">{{ post.author.name }}</a>
                </td>
                <td>{{ post.create_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ 'published' if post.published else 'unpublished' }}</td>
                <td>
                    <label class="uk-switch">
                        <input type="checkbox"

                                {% if post.published %}
                               checked
                                {% endif %}
                        >
                        <div class="uk-switch-slider uk-switch-on-off round"></div>
                    </label>
                </td>
                <td><a href="{{ post.preview_url() }}">Preview</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block bottom_script %}
    <script src="{{ url_for('static', filename='dist/post.js') }}"></script>
{% endblock %}