{% macro render_field_with_errors(field) %}
    {% set label_id = field.label.field_id %}
    {% set type = 'password' if label_id == 'password' else 'text' %}
    <div class="uk-margin">
        <label class="uk-form-label"
               for="{{ label_id }}">{{ field.label.text }}</label>
        <div class="uk-form-controls">
            <input name="{{ label_id }}"
                   class="uk-input uk-form-width-medium {{ 'uk-form-danger' if field.errors else '' }}"
                   type="{{ type }}">
            {% if field.errors %}
                <span class="control-label uk-form-danger">{{ field.errors[0] }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_submit(text) %}
    <button class="uk-button uk-button-primary uk-button-small">{{ text }}
    </button>
{% endmacro %}

