{% macro render_field_with_errors(field) %}
    {% set label_id = field.label.field_id %}
    {% set type = label_id if label_id in ('email', 'password') else 'text' %}
    {% set is_switch = field.widget| hasattr('multiple') %}

    <div class="uk-margin">
        <label class="uk-form-label"
               for="{{ label_id }}">{{ field.label.text }}</label>

        {% if not is_switch %}
            <div class="uk-form-controls">
                {% if field.widget.input_type != 'checkbox' %}
                    <input name="{{ label_id }}"
                           class="uk-input uk-form-width-medium {{ 'uk-form-danger' if field.errors else '' }}"
                           type="{{ type }}" value={{ field.data }}>
                    {% if field.errors %}
                        <span class="control-label uk-form-danger">{{ field.errors[0] }}</span>
                    {% endif %}
                {% else %}
                    <input class="uk-checkbox" type="checkbox"
                           name="{{ label_id }}"
                           checked>
                {% endif %}
            </div>
        {% else %}
            <label class="uk-switch">
                <input type="checkbox" name="{{ label_id }}"
                        {% if field.data %}
                       checked
                        {% endif %}
                >
                <div class="uk-switch-slider uk-switch-on-off round"></div>
            </label>
        {% endif %}

    </div>
{% endmacro %}

{% macro render_submit(field) %}
    <button class="uk-button uk-button-primary uk-button-small">{{ field.label.text }}
    </button>
{% endmacro %}

