<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}豆瓣{% endblock %}
    </title>
    {% block doc_head %}
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/uikit.min.css') }}">

        {% block more_head %}
        {% endblock %}
    {% endblock %}
</head>
<body>
<div class="uk-container">
    <div class="uk-card uk-card-body uk-card-primary">
        <h3 class="uk-card-title">Example headline</h3>

        <button class="uk-button uk-button-default"
                uk-tooltip="title: Hello World">Hover
        </button>
    </div>
</div>

{% block bottom_script %}
{% endblock %}

</body>
</html>